<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
<head>
	<meta charset="UTF-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" th:href="@{/css/cats.css}">
	
	<title>Adminstration | CATS</title>
</head>	

<body>
	
	<h1>Adminstration</h1>
	
	<p>
		<a href="/admin/allowances/new">Annual allowances</a>
	</p>
	
	<p>
		<a href="/admin/accounts/new">Create login account</a>
	
	<p>
		<a href="/admin/employees/new">Create employee profile</a>
	</p>	
	<p>
		<a th:href="@{/admin/employees}">Manage employees</a>
	</p>
	<p>
		<a href="/logout">Logout</a>
	</p>	
	
</body>

</html>