<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
<head>
	<meta charset="UTF-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" th:href="@{/css/cats.css}">
	
	<title>Administration | CATS</title>
</head>	

<body>
	
	<h1>Administration</h1>
	
	<nav>
	    <a href="/admin/allowances/new">Annual Allowances</a>

	    <a href="/admin/employees/new">Create Employee</a>

	    <a th:href="@{/admin/employees}">Manage Employees</a>

	    <a th:href="@{/admin/holidays}">Public Holidays</a>

	    <a th:href="@{/admin/course-categories}">
	        Course Categories
	    </a>

	    <a th:href="@{/admin/training-providers}">
	        Training Providers
	    </a>

	    <a th:href="@{/account/password}">
	        Change Password
	    </a>

	    <a href="/logout">Logout</a>
	</nav>
	
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>