<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet"
		  th:href="@{/css/cats.css}">

	<title>Change Password | CATS</title>

</head>

<body>

	<h1>Change Password</h1>

	<p>
		Update the password for your CATS account.
	</p>


	<div th:if="${success}"
		 class="message message-success"
		 th:text="${success}">
	</div>

	<div th:if="${error}"
		 class="message message-error"
		 th:text="${error}">
	</div>


	<form th:action="@{/account/password}"
		  method="post">

		<p>
			<label for="currentPassword">
				Current Password
			</label>

			<input type="password"
				   id="currentPassword"
				   name="currentPassword"
				   required>
		</p>


		<p>
			<label for="newPassword">
				New Password
			</label>

			<input type="password"
				   id="newPassword"
				   name="newPassword"
				   required>
		</p>


		<p>
			<label for="confirmPassword">
				Confirm New Password
			</label>

			<input type="password"
				   id="confirmPassword"
				   name="confirmPassword"
				   required>
		</p>


		<button type="submit">
			Change Password
		</button>

	</form>

	<p>
	    <a th:if="${role.name() == 'ADMIN'}"
	       th:href="@{/admin}">
	        Back to Administration
	    </a>

	    <a th:unless="${role.name() == 'ADMIN'}"
	       th:href="@{/}">
	        Back to Home
	    </a>
	</p>
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>