<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Create Course Category | CATS</title>
	<link rel="stylesheet" th:href="@{/css/cats.css}">
</head>

<body>

	<h1>Create Course Category</h1>

	<p>
		Add a new category for courses in CATS.
	</p>

	<nav>
		<a th:href="@{/admin}">Administration</a>
		<a th:href="@{/admin/course-categories}">Course Categories</a>
		
		<form th:action="@{/logout}" method="post"
		      class="logout-form">
		    <button type="submit" class="logout-link">Logout</button>
		</form>
		
	</nav>


	<div th:if="${error}"
		 class="message message-error"
		 th:text="${error}">
	</div>


	<form th:action="@{/admin/course-categories}"
		  method="post">

		<p>
			<label for="code">Category Code</label>

			<input type="text"
				   id="code"
				   name="code"
				   required>

			<span class="help-text">
				A short unique code, for example INTERNAL or EXTERNAL.
			</span>
		</p>


		<p>
			<label for="name">Category Name</label>

			<input type="text"
				   id="name"
				   name="name"
				   required>
		</p>


		<p>
			<label for="description">Description</label>

			<textarea id="description"
					  name="description"
					  rows="4">
			</textarea>
		</p>


		<p>
			<input type="checkbox"
				   id="internalTraining"
				   name="internalTraining"
				   value="true">

			<label for="internalTraining">
				Internal training
			</label>
		</p>


		<div class="actions">

			<button type="submit">
				Create Category
			</button>

			<a th:href="@{/admin/course-categories}"
			   class="button button-secondary">
				Cancel
			</a>

		</div>

	</form>

</body>

</html>