<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" th:href="@{/css/cats.css}">

	<title>Home | CATS</title>
</head>

<body>

	<h1>Course Application Tracking System</h1>

	<p>Welcome to CATS.</p>

	<p th:if="${error}" th:text="${error}"></p>

	<nav>
		<a href="/applications">My application(s)</a>
		<a href="/applications/new">New application</a>

		<a th:if="${isManager == true}" th:href="@{/manager/applications}">Review applications
		</a>

		<a th:if="${isManager == true}" th:href="@{/manager/subordinates}">Subordinate course history
		</a>
		
		<a th:href="@{/account/password}">Change password</a>

		<form th:action="@{/logout}" method="post"
		      style="display: inline;">
		    <button type="submit" class="logout-link">Logout</button>
		</form>
	</nav>
	<!-- Stats Cards -->
	<div class="page-wrapper">
		<section class="cards">
			<div class="number-card">
				<div class="card-title">Training Days Remaining</div>
				<div class="card-value">
					<span th:text="${remainingDays}">0</span>
				</div>
			</div>

			<div class="number-card">
				<div class="card-title">Training Budget Remaining</div>
				<div class="card-value">
					$<span th:text="${remainingFees}">0.00</span>


				</div>
				<div class="question-bubble">

				</div>
			</div>
		</section>
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>